@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-interactive,
.leaflet-zoom-animated {
  transition: all 0.5s ease; /* Adjust duration as needed */
}

.leaflet-popup-content p {
  margin: 0;
  margin-bottom: 12px;
  @apply font-mono;
}

/* Custom marker styling */
.custom-marker .marker-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}
